<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="Index.css" />
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="row-m-5">
                <div class="col-md-12">
                    <h>ALL CV's PROFILES ARE LISTED:-</h>
                    
                </div>
                
            </div>
            {%for profile in profiles%}
            <div class="row">
                <div class="col-md-6">
                    {{profile.name}}
                </div>
                </hr>
                <div class="col-md-6">
                    <a href="/{{profile.id}}" class="btn btn-warning">Click download</a>
                    </hr> 
                </div>  

                
            </div>
        <hr>    
            {% endfor %}
        </div>
    </body>
</html>