<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h>{{user_profile.name}}</h>
	<h1>{{user_profile.email}}</h1>
	<p>{{user_profile.phone}}</p>
	<h2>CODING PROFILES</h2>
	<ul>
		<li>{{user_profile.github}}</li>
		<li>{{user_profile.codingprofile}}</li>
	</ul>
	<hr/>
	<br/>
	<h3>Summary</h3>
	<p>{{user_profile.summary}}</p>
	<hr/>
	<h4>Experience</h4>
	<p>{{user_profile.experience}}</p>	
	<hr/>
	<p>Skills</p>
	<p>{{user_profile.skills}}</p>
	<hr/>
	<h5>Education</h5>
	<ul>
		<li>{{user_profile.SSC}}</li>
		<li>{{user_profile.HSC}}</li>
		<li>{{user_profile.degree}}</li>
		<li>{{user_profile.university}}</li>
	</ul>
</body>
</html>